Progetti Accademici/Laurea triennale/Programmazione distribuita/Soggiorno/SoggiornoWSClient/xml-resources/web-service-references/SoggiornoForecast/wsdl/localhost_8080/SoggiornoForecast/SoggiornoForecast.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><xs:schema xmlns:tns="http://soggiorno/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soggiorno/">

<xs:element name="getDataPartenza" type="tns:getDataPartenza"/>

<xs:element name="getDataPartenzaResponse" type="tns:getDataPartenzaResponse"/>

<xs:element name="getDestinazione" type="tns:getDestinazione"/>

<xs:element name="getDestinazioneResponse" type="tns:getDestinazioneResponse"/>

<xs:complexType name="getDestinazione">
<xs:sequence>
<xs:element name="forecast_id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDestinazioneResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPartenza">
<xs:sequence>
<xs:element name="forecast_id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataPartenzaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>